version: '3.9'

services:
  forscrappy:
    image: forscrappy
    container_name: forscrappy
    build:
      context: .
      target: development
    ports:
      - "8001:8001"
    networks:
      services-network:
        aliases:
          - app
    volumes:
      - .:/4clubbers
      - postgres:/vol/postgres
    environment:
      - CELERY_BROKER=redis://redis:6379/0
      - CELERY_BACKEND=redis://redis:6379/0
    depends_on:
      - db
      - redis

  db:
    image: postgres:alpine
    container_name: postgres_forscrappy
    environment:
      - DB_HOST=${DB__HOST}
      - POSTGRES_DB=${DB__NAME}
      - POSTGRES_USER=${DB__USERNAME}
      - POSTGRES_PASSWORD=${DB__PASSWORD}
    ports:
      - "${DB__PORT}:5432/tcp"
    restart: always
    networks:
      services-network:
        aliases:
          - postgres
    volumes:
      - .:/4clubbers/ForScrappy
      - postgres:/vol/postgres

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - db
    networks:
      services-network:
        aliases:
          - pgadmin

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      services-network:
        aliases:
          - redis

  celery:
    container_name: celery
    build:
      context: .
      target: development
    image: celery_forscrappy
    command: celery -A tasks worker -l INFO
    volumes:
      - ./ForScrappy:/4clubbers/ForScrappy
      - postgres:/vol/postgres
    environment:
      - TZ=Europe/Warsaw
      - DB_HOST=${DB__HOST}
      - DB_NAME=${DB__NAME}
      - DB_USER=${DB__USERNAME}
      - DB_PASS=${DB__PASSWORD}
      - CELERY_BROKER_URL=${CELERY__BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY__RESULT_BACKEND}
    depends_on:
      - db
      - redis
      - forscrappy
#    restart: always
    networks:
      services-network:
        aliases:
          - celery

  flower:
#    image: mher/flower
    container_name: flower
    build:
      context: .
#    command: [ 'flower', '--broker=redis://redis:6379', '--port=5555' ]
#    command: celery --app=tasks --broker=${CELERY_BROKER_URL} flower --port=5557
    image: flower_forscrappy
    command: celery -A tasks flower --port=5555
    ports:
      - "5555:5555"
    environment:
      - CELERY_TIMEZONE=Europe/Warsaw
      - TZ=Europe/Warsaw
      - CELERY_BROKER_URL=${CELERY__BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY__RESULT_BACKEND}
    depends_on:
      - forscrappy
      - redis
      - celery
    volumes:
      - ./ForScrappy:/4clubbers/ForScrappy
      - postgres:/vol/postgres
    networks:
      services-network:
        aliases:
          - flower

volumes:
  postgres:
  forscrappy_postgres:
    external: true
    name: forscrappy_postgres

networks:
   services-network:
     name: services-network
     driver: bridge
