[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
pydantic = "*"
SQLAlchemy = "*"
asyncpg = "*"
psycopg2 = "*"
tortoise-orm = "*"
aerich = "*"
typer = "*"
validators = "*"
lxml = "*"

[dev-packages]
black = "*"
requests-mock = "*"
pytest-docker = "*"
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pytest-docker-compose = "*"

[requires]
python_version = "3.10"
