name: CI

on:

  pull_request:
    branches: [dev, main]

  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Create env file
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env

      - name: Install dependencies
        run: |
          pip install flake8 mypy black
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install
          pipenv install -d

      - name: tests
        run:  |
          pipenv run pytest

      - name: flake8
        run:  |
          flake8 .

      - name: black
        run:  |
          black --check .

      - name: mypy
        run:  |
          mypy .

  check_version:
    if: github.event_name == 'pull_request' && github.base_ref == 'main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check version
        run: |
          OLD_VERSION=$(git show origin/main:setup.py | grep -oP 'version="\K[^"]+')
          NEW_VERSION=$(git show HEAD:setup.py | grep -oP 'version="\K[^"]+')

          if [ "$OLD_VERSION" = "$NEW_VERSION" ]; then
            echo "Version number in setup.py was not updated."
            exit 1
          fi
