name: CI

on:

  pull_request:
    branches: [dev, main]

  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Create env file
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env && cd ForScrappy

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install
          pipenv install -d

      - name: tests
        run:  pipenv run pytest

  check_version:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check version
        run: |
          OLD_VERSION=$(git show HEAD:setup.py | grep -oP "version='\K[^']+")
          NEW_VERSION=$(cat setup.py | grep -oP "version='\K[^']+")

          if [ "$OLD_VERSION" = "$NEW_VERSION" ]; then
            echo "Version number in setup.py was not updated."
            exit 1
          fi